# Custom top-level domain
TLD=local

# DevStack database credentials
DEVSTACK_MYSQL_USER=devstack
DEVSTACK_MYSQL_PASSWORD=changeme
DEVSTACK_MYSQL_NAME=devstack

# MariaDB root password
MARIADB_ROOT_PASSWORD=changeme

# Apache2 user / group mapping
APACHE2_UID=1000
APACHE2_GID=1000
